<form action="/create" method="POST">
  <legend>Create Game</legend>
  <select name="game_Name" id="game_choice">
    <% games.forEach(function(game) { %>
      <option value="<%= game.gameName %>">
        <%= game.gameName %>
      </option>
    <% }) %>
  </select>
  <label>Select start-time</label>
  <input type="time" name="start_time" id="start_time">
   <input type="number" name="lat" id="lat">
   <input type="number" step="any" name="long" id="long">
  <input type="submit" id="createGame" name="createGame">


  </form>

 <div class="col-md-12" id="map"></div>



 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7Q-cEwrHFGbExNjr_UYbTT3MMKm0pRFs
&callback=initMap">
    </script>


<script src="/js/map.js"></script>

