
<div class="col-md-12" id="map"></div>



 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7Q-cEwrHFGbExNjr_UYbTT3MMKm0pRFs
&callback=initMap">
    </script>


<script src="/js/map.js"></script>
