<h1> Welcome ------ <%= user.firstName + " " + user.lastName %></h1>
<div class='container'>
<div class="row">
<div class="col-sm-6 half-screen text-align">
 <a href="/create">CREATE GAME</a>
 </div>
 <div class="col-sm-6 half-screen">
 <a href="/find">FIND GAME</a>
 </div>


</div>
</div>
