
<div class='container'>
<div class="row">
<div class="col">
<h1> Hi <%= user.firstName + " " + user.lastName %></h1>
</div>

<div class="col-sm-12 col-md-12 text-center space">
<p class="text-center">This is Play. A simple service to find and compete against like minded individuals driven by a desire to hone their skills across a group of sports! To participate simply create or join a live game! If you can't find the game youd like to play please add it to our game list! Happy Playing!</p>
</div>
<hr>
<div class="col-sm-12 col-md-12 text-center space" >
 <a href="/create" class="btn btn-lg btn-success">CREATE GAME - Host a game</a>
 </div>

<div class="col-sm-12 col-md-12 text-center space">
 <a href="/find" class="btn btn-lg btn-danger">FIND GAME - Locate competitor</a>
 </div>

 <div class="col-md-12 col-sm-12 text-center space">
 <a href="/createGame" class="btn btn-lg btn-warning">Create Game - add our library</a>
 </div>


</div>
</div>
